# 183. Customers Who Never Order

## Description

<br>SQL Schema

<br>Create table If Not Exists Customers (Id int, Name varchar(255))
<br>Create table If Not Exists Orders (Id int, CustomerId int)
<br>Truncate table Customers
<br>insert into Customers (Id, Name) values ('1', 'Joe')
<br>insert into Customers (Id, Name) values ('2', 'Henry')
<br>insert into Customers (Id, Name) values ('3', 'Sam')
<br>insert into Customers (Id, Name) values ('4', 'Max')
<br>Truncate table Orders
<br>insert into Orders (Id, CustomerId) values ('1', '3')
<br>insert into Orders (Id, CustomerId) values ('2', '1')

<br>Suppose that a website contains two tables, the Customers table and the Orders table. Write a SQL query to find all customers who never order anything.

<br>Table: Customers.

<br>+----+----------+
<br>|&nbsp;Id&nbsp;&nbsp;|&nbsp;&nbsp;Name&nbsp;&nbsp;|
<br>+----+----------+
<br>|&nbsp;&nbsp;1&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Joe&nbsp;&nbsp;&nbsp;&nbsp;|
<br>|&nbsp;&nbsp;2&nbsp;&nbsp;|&nbsp;&nbsp;Henry&nbsp;&nbsp;|
<br>|&nbsp;&nbsp;3&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Sam&nbsp;&nbsp;&nbsp;|
<br>|&nbsp;&nbsp;4&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Max&nbsp;&nbsp;&nbsp;&nbsp;|
<br>+----+----------+

<br>Table: Orders.

<br>+----+----------------+
<br>|&nbsp;Id&nbsp;&nbsp;|&nbsp;CustomerId&nbsp;|
<br>+----+----------------+
<br>|&nbsp;&nbsp;1&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
<br>|&nbsp;&nbsp;2&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
<br>+----+----------------+

<br>Using the above tables as example, return the following:

<br>+---------------+
<br>|&nbsp;Customers&nbsp;|
<br>+---------------+
<br>|&nbsp;&nbsp;&nbsp;&nbsp;Henry&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
<br>|&nbsp;&nbsp;&nbsp;&nbsp;Max&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
<br>+---------------+

In [ ]:
# Write your MySQL query statement below
SELECT Name AS Customers
FROM Customers
WHERE Customers.Id NOT IN( SELECT CustomerId FROM Orders)